<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Lan Music</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/jquery/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/javascripts/jquery/jquery-ui.css' />
    <!--for handling ajax search-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/javascripts/typeahead.min.js" type="text/javascript"></script>
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
<!--
        <script src="/player/build/jquery.js"></script>
        <script src="/player/build/mediaelement-and-player.min.js"></script>
        <link rel="stylesheet" href="/player/build/mediaelementplayer.min.css" />
-->

    <script>

    </script>
</head>
<body>
<div class="well ">
    <div class="heading">Lan Music</div>
</div>

<div id="search_bar">
<input class="typeahead tt-query" spellcheck="false" autocomplete="off" name="typeahead" type="text" />
    <input type="text" id="bar"/>
</div>
<!--
<div id="search_result">
    asdas
</div>
-->
<div class="content row">
    <div class="top_songs col-xs-3">
        Top Songs
        <ul>
            <% for (var i in songs){%>
            <li> <a href="" onclick="play('<%=songs[i].path%>'); return false;"> <%=songs[i].title%> </a> </li>
            <%} %>
        </ul>
    </div>
    <div class="main_content col-xs-9">
        All Songs
        <ul>
            <div class="song_all">
            <% for (var i in albums){%>
             <div class="song">
                 <div class="song_image">
                     <img src="<%=album_arts[i]%>">
                     </img>
                 </div>
                 <div class="song_name">
                     <li> <a href="/album/<%=albums[i]%>"> <%=albums[i]%> </a> </li>
                 </div>
             </div>
            <%} %>
            </div>
        </ul>
    </div>
</div>

<div class="player_container">
    <div id="audio_player">
        <audio controls="controls" id="player" >
            <source src="" type="audio/mpeg" id="mp3player">
        </audio>
    </div>
</div>
</body>
</html>
